/* body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  } */
  
  .carrot-fall-container {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    z-index: 999;
  }
  
  .falling-carrot {
    position: absolute;
    top: -100px;
    animation: fallAnimation 2s ease-in-out forwards;
    z-index: 999;
  }
  
  @keyframes fallAnimation {
    0% {
      top: -100px;
      opacity: 1;
    }
    100% {
      top: 100vh;
      opacity: 0;
    }
  }
  